/* @media screen and (max-width: 700px) { */

    section.search-by-text {
        /* background: url("../images/background.jpg"); */
        /* background-position: center center; */
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        /* opacity: 0.7; */
        /* height: 80vh; */
        /* display: flex; */
        /* flex-direction: column; */
        position: relative; 
        background-color: rgb(22, 115, 230);
        box-sizing: border-box;
        height: 440px;
        padding-top: 132px;
    }

    .title-container {
        order: 1;
        flex-wrap: wrap;
        margin: auto;        
        justify-content: center;
        width: 200px;
        height: auto;
        padding: 5px;
        text-align: center;
        border: 0;
        font-size: 100%;
        font: inherit;
    }

    .app-title {
        font-size: 3em;
        line-height: 1.16667em;
        letter-spacing: -0.00833333em;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: rgb(255, 255, 255);
        margin: 0px;
    }

    
    .search-form {
        /* position: absolute;
        bottom: -10px; */
        border-radius: 20px;
        box-shadow: transparent 0px 0px 0px 0.1875rem;
        box-sizing: border-box;
        color: rgb(31, 31, 31);
        display: flex;
        height: 3rem;
        margin-left: -0.0625rem;
        position: relative;
        background: rgb(255, 255, 255);
        border-width: 0.0625rem;
        border-style: solid;
        border-color: rgb(217, 217, 217);
        border-image: initial;
        flex: 1 1 auto;
        transition: box-shadow 0.1s ease 0s;
    }

     .search-box {
        box-sizing: border-box;
        display: block;
        font-size: 1rem;
        min-width: 0px;
        width: 100%;
        background: none;
        border-style: none;
        padding: 0px 0.5rem 0px 0.9375rem;
    }

    .submit-button {
        border-radius: 20px;
        color: rgb(255, 255, 255);
        background: rgb(22, 115, 230);
        transition: background 0.2s ease 0s;
    }

    .icon-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 25vh;
        border-radius: 20px;
    }

    .login-button {
        order: 1;
        color: rgb(255, 255, 255);
        border: 2px solid ghostwhite;
        border-radius: 20px;
        padding-left: 1px;
        flex: 50%;
        padding: 15px;
        margin: 10px 15px;
        box-shadow: -5px -3px 8px lightgrey;
        background-color: #045AC3;
        opacity: 0.97;
        letter-spacing: 1px;
        font-size: 40px;
        font-weight: 300;
        text-shadow: 1px 1px 1px #eaeaea;
        border-bottom: 1px solid #efefef;
        border-top: 1px solid #efefef;
        padding: 5px 20px;
        display: block;
        height: 20vh;
    }

    #login {
        order: 2;
        color: red;
    }

    #join {
        order: 1;
    }

    #modal {
        background-color: rgba(0,0,0,0.7);
        left: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    #modal-content {
        background-color: #f4f4f4;
        margin: 20% auto;
        padding: 20px;
        width: 70%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0  rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: 1s;
    }

    input {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      .registration, .login {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }
      
      button:hover {
        opacity: 0.8;
    }

    .closeBtn {
        color: black;
        float: right;
        font-size: 30px;
        width: auto;
        padding: 10px 18px;
        /* background-color: #f44336; */
    }

    .closeBtn:hover, .closeBtn:focus {
        color: red;
        text-decoration: none; 
        cursor: pointer;
    }

    @keyframes modalopen {
        from {opacity: 0}
        to {opacity: 1}
    }
/* } */
    #beersList {
       display: flex; 
       flex-wrap: wrap;
       justify-content: space-around;
       height: 280px;
       background: black;
       padding: 10px 4px;
       margin: 10px 8px
    }
.beer-list-results {
        background-color: #045AC3;
        color: rgb(255, 255, 255);
        border-radius: 20px;
        margin: 4px;

@media only screen and (min-width: 700px) {

    }