@media screen and (max-width: 700px) {
    section.search-by-text{
        background: url("../images/background.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        /* padding: 200px 3%; */
        z-index: -1;
        opacity: 0.6;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

    .title-container {
        display:flex;
        justify-content: center;
        order: 1;
        flex-wrap: wrap;
        text-align: center;
        padding: 40px 80px;
        max-width: 50%;
        max-height: 25%;
        margin: auto;        
        background-color: blanchedalmond;
        color:#F1A334;
        padding: 25px 10px;
        font-size: 40px;
        justify-content: center;
    }

    /* .app-title {
        color: #F1A334;
        padding: 25px 10px;
        font-size: 40px;
        justify-content: center;
    } */

    .search-form {

        order: 2;
        max-height: 25%;
        justify-content: center;
    }
    
    button {
        color:#F6B539;
    }

    .icon-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #search-icons {
        order: 1;
        height: 100px;
        width: 100px;
        margin: 10px;
        background-color: #F1A334
    }
}

@media only screen and (min-width: 700px) {

    }