@media screen and (max-width: 700px) {
    section.search-by-text{
        background: url("../images/background.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: 0.5;
        height: 50vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .title-container {
        order: 1;
        flex-wrap: wrap;
        margin: auto;        
        justify-content: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;
        width: 200px;
        height: auto;
        padding: 5px;
        text-align: center;
    }

    .app-title {
        color: #F1A334;
        font-weight: bold;
        text-shadow: -1px 0px #F6B539;
        padding: 0px -5px;
        font-size: 40px;
        justify-content: center;
    }

    .search-form {
        position: absolute;
        bottom: -10px;
        /* margin: auto; */
        order: 2;
        max-height: 25%;
        justify-content: center;
    }

    .search-box, .submit-button {
        padding: 5px 5px;
    }
    
    .submit-button {
        color:#F6B539;
        background-color: red;;
    }

    .icon-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #search-icons {
        order: 1;
        height: 100px;
        width: 100px;
        margin: 10px;
        background-color: #F1A334
    }
}

@media only screen and (min-width: 700px) {

    }