@import "css/media.css";

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
section.search-by-text{
    background: url(images/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 3%;
    height: 100vh;
    z-index: -1;
    opacity: 0.6;
}
